* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 16px;
}

.zoek-balk input {
    width: 90vw;
}

#plantenLijst {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.plant-card {
    display: flex;
    flex-direction: column;
    width: 128px;
    height: 196px;
    background: var(--color3);
    border-radius: 8px;
    border: 2px solid var(--color5);
}

.plant-card p {
    height: calc(196px - 124px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.plant-card-container, .details-image-container {
    width: 124px;
    height: 124px;
    background: var(--color2);
    border-radius: 8px;
    overflow: hidden;
}

.plant-card-container img, .details-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.laad-meer-knop {
    width: 128px;
    height: 48px;
    background: var(--color1);
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.return-button {
    width: 11vw;
    height: 11vw;
    position: fixed;
    top: 20px;
    left: 15px;
    background: var(--color2);
}

.plant-details-header {
    width: 100vw;
    display: flex;
    gap: 16px;
    padding: 16px;
}

.details-image-container {
    min-width: 128px;
    min-height: 128px;
}

.description, .plant-details {
    width: 100%;
    padding: 16px;
    background: var(--color3);
    border-radius: 8px;
    border: 2px solid var(--color5);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description h2 {
    font-size: 1.5rem;
}

.plant-details {
    width: calc(100% - 32px);
    margin: 0 16px;
}

.add-plant-button {
    background: var(--color1);
    border-radius: 100%;
    border: 2px solid var(--color2);
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 32px;
}