* {
    margin: 0;
}

main {
    justify-content: center;
}

.border {
    text-align: center;
    padding: 2vh;
    background-image: url("../images/noteplank.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    /*Fixen op elke mobiel*/
    left: 17vw;
}

#RecentBagesSec {
    position: relative;
    background: #E9CDA2;
    border-bottom: 3px solid black;
    padding: 6vh 0 2vh 0;
}

#badges {
    padding: 2vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2vw;
    text-align: center;
    justify-content: center;
}

#badges img {
    max-width: 25vw;
}

#noBadge {
    width: 100%;
    text-align: center;
}

#FavoritePlantsSec {
    width: 75%;
    margin: 0 auto;
}

/*de shelf is de background van de div zodat de plaatjes er makkelijk op kunnen*/
.shelf {
    background-image: url("../images/shelf.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.shelf img {
    max-height: 18vh;
    width: auto;
    padding: 1vh 0 6vh 0;
    /*padding: 0 0 7vh 7vw;*/
}

img {
    width: 100%;
}

.noPlants {
    padding-bottom: 13vh;
    height: 10vh;
    margin-top: 4vh;
}

/*Plants info popup*/
#PlantStatusSec {
    background: #E9CDA2;
    border-top: 3px solid black;
    margin-top: 2vh;
    min-height: 18vh;
    display: block;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 9vh;
    padding-bottom: 2vh;
}

#plantInfo {
    min-height: 12vh;
    width: 80%;
    margin: 0 auto;
    background: var(--color1);
    border: 5px solid var(--color4);
    border-radius: 10px;
    padding: 1vh 1vw;
}

p {
    padding: 5px;
    font-size: 1.1rem;
}

.closeButton {
    width: 7vw;
    position: absolute;
    top: 5px;
    right: 5px;
}