@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}



body {
    background: var(--color3);
    background-image: url("../images/tiles.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 125%;
    overflow: hidden; /* Hide scrollbars */
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    min-height: 100vh;        /* make sure body fills screen */
    margin: 0;

}

.welkom-container {
    background: white;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    max-width:600px;
    width:100%;
    border:3px solid var(--color1);
    margin:2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    min-height: 500px;    /* voorkomt dat box te klein wordt */
    max-height: 90vh;


}

.welkom-container img {
    width: 100%;
    max-height: 400px;   /* alle afbeeldingen dezelfde hoogte */
    object-fit: contain;
}

h1 {
    margin-top: 2rem;
}

p {
    color: #41535d;
    text-align: center;
    padding: 15px;
    margin-top: 0;
}


.step {
    display: none; /* hide all steps */
}

.step:first-child {
    display: block; /* show the first step */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* ruimte tussen knoppen */
    margin-top: 20px;
}

.nextbtn,
.backbtn,
#startBtn {
    background-color: #7da44d;
    padding: 15px 60px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.backbtn {
    background-color: #9b7354;
}

#stepIndicators {
    text-align: center;
    margin-top: 20px;

}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #4CAF50; /* or any color you like */
}


