@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}



body {
    background: var(--color3);
    background-image: url("../images/tiles.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 125%;
    overflow: hidden; /* Hide scrollbars */

}

.overlay {
    background: white;
    padding-bottom: 30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    max-width:600px;
    width:100%;
    border:3px solid var(--color1);
    margin:2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
}

.overlay img {
    width: 100%;
    height: auto;
}

h1 {
    margin-top: 2rem;
}

p {
    color: #41535d;
    text-align: center;
    padding: 15px;
    margin-top: 0;
}

#step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    display: none; /* hide all steps */
}

.step:first-child {
    display: block; /* show the first step */
}

.nextbtn {
    background-color: #7da44d;

    padding: 15px 60px;
    margin-top: 20px;
    font-family: 'Fredoka', sans-serif;
}

#stepIndicators {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #4CAF50; /* or any color you like */
}


