
body {
    margin: 0;
    background-image: none;
    background-color: #e8cda2;
}

input {
    width: 70vw;
    height: 3vh;
    border: var(--color7) solid 2px;
    background-color: var(--color5);
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 10vh;
    gap: 3vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.button-link button, a {
    border: var(--color7) solid 2px;
    background-color: var(--color6);
    color: white;
    flex: 1;
}

.shelf-container {
    position: relative;
    width: 100vw;
    height: 30vh; 
    margin-top: 10vh;
}

.shelf {
    background-image: url("../images/shelf.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
}

.books {
    background-image: url("../images/uprightbooks.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 20vw;
    height: 15vh;
    position: absolute;
    bottom: 10vh; 
}

.cat {
    background-image: url("../images/sleepingcat.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 120vw;
    height: 13vh;
    position: absolute;
    bottom: 7vh;
}

.tiles {
    background-image: url("../images/tiles.png");
    background-size: auto 200%;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100vw;
    height: 8vh;
    position: absolute;
    bottom: 0;
    z-index: 0; 
}


