html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-image: none;
    background-color: #e8cda2;
}

h1 {
    margin: 0;
    text-align: center;
}

header a {
    background: none;
    border: none;
}

input {
    width: 70vw;
    height: 3vh;
    border: var(--color7) solid 2px;
    border-radius: 10px;
    background-color: var(--color5);
    color: white;
    text-align: center;
}

label, button {
  font-family: Fredoka;
  src: url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-top: 10vh;
    gap: 3vh;
}

.help.is-danger {
    min-height: 1.2rem; /* of een andere hoogte passend bij je font */
    color: red;
    font-size: 0.8rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 40vw;
    margin-bottom: -5vh;
}

#tile-container {
    position: relative;
    width: 100vw;
    margin-top: 25vh;
}

.button-link button, a {
    border: var(--color7) solid 2px;
    background-color: var(--color4);
    color: black;
    width: 80px;
    height: 40px;
    flex: 1;
    display: inline-block;
}

.shelf-container {
    position: relative;
    width: 100vw;
    height: 15vh; 
    margin-top: 15vh;
}

.shelf {
    background-image: url("../images/shelf.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.books {
    background-image: url("../images/uprightbooks.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 33vw;
    height: 15vh;
    position: absolute;
    bottom: 8vh; 
    z-index: 1;
}

.cat {
    background-image: url("../images/sleepingcat.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 120vw;
    height: 13vh;
    position: absolute;
    bottom: 5vh;
    z-index: 1;
}

.tiles {
    background-image: url("../images/tiles.png");
    background-size: auto 150%;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    z-index: 0; 
}

.bottom-plants {
     background-image: url("../images/plantsbottompage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 120vw;
    height: 30vh;
    position: absolute;
    bottom: 0vh;
    z-index: 1;
}


