@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}

* {
    margin: 0;

}

body {
    background: var(--color3);
    background-image: url("../images/tiles.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 125%;
    overflow: hidden; /* Hide scrollbars */
}

header {
    background-color: #7da44d;
    text-align: center;
    height: 200px;
    
}

.avatar-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
    padding: 0;  
}

.avatar-container img {
    width: 120px;       /* vaste breedte */
    height: 120px;      /* vaste hoogte */
    max-width: 100%; 
    object-fit: cover;
    margin-bottom: 5px
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-username {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.pnb {
    display: flex;
    justify-content: space-around;
    gap: 60px; 
    font-family: 'Fredoka', sans-serif;
    
}


.manage-plants {
    display: flex;
    justify-content: space-evenly;
}

.manage-plants a {
    background-color: #7da44d;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}

.my-plants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.board {
    text-align: center;
    padding: 2vh;
    background-image: url("../images/noteplank.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    padding: 40px;
    
}

.shelf {
    background-image: url("../images/shelf.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.shelf img {
    max-height: 10vh;
    width: auto;
    padding: 2vh 0 7vh 0;
    /*padding: 0 0 7vh 7vw;*/
}









