@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}

* {
    margin: 0;

}

body {
    background: var(--color3);
    background-image: url("../images/tiles.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 125%;
    overflow: hidden; /* Hide scrollbars */
}

header {
    background: var(--color1);
    padding: 2vh 0;
    text-align: center;
    border-bottom: 5px solid #ABCFAE;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
}

.avatar-container img {
    width: 120px;
    height: 120px;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 5px
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-username {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;

}

.pnb {
    display: flex;
    font-family: 'Fredoka', sans-serif;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}


.manage-plants {
    display: flex;
    justify-content: space-around;
}

.manage-plants a {
    background-color: #7da44d;
    padding: 15px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    padding: 15px 40px;
    position: relative;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}

.search-wrapper {
    position: relative;
    width: 200px; /* even breed als input of zoals je wilt */
}

#zoekInvoer {
    background-color: #7da44d;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px 40px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
}

#searchDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
}

#searchDropdown div {
    padding: 5px;
    cursor: pointer;
}

#searchDropdown div:hover {
    background-color: #eee;
}

.my-plants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.board {
    text-align: center;
    padding: 2vh;
    background-image: url("../images/noteplank.png");
    background-size: 100%;
    margin-top: 40px;
}

.shelf {
    background-image: url("../images/shelf.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 120px; /* geef ze ruimte zodat je ze ziet */
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.shelf img {
    max-height: 18vh;
    width: auto;
    padding: 1vh 0 7vh 0;
    /*padding: 0 0 7vh 7vw;*/
}

img {
    width: 100%;
}

.noPlants {
    padding-bottom: 13vh;
    height: 10vh;
    margin-top: 4vh;
}











