@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}

* {
    /*Color palette*/
    --color1: #7da44d;
    --color2: #3e5e2a;
    --color3: #fff4e3;
    --color4: #9b7354;
    --color5: #945e3c;
    --color6: #737373;
    --color7: #41535d;
}

h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: Lazytype, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

nav {
    width: 11vw;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 999;
    min-height: 100vh;
}

nav img {
    width: 100%;
}

#navList {
    width: 50vw;
    padding: 5vh 1vw;
    background: var(--color2);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    flex-direction: column;
    gap: 4vh;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: var(--color3);
}

.open {
    display: flex;
}

.close {
    display: none;
}

body {
    background: var(--color3);
    background-image: url("../images/tiles.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 125%;
}

header {
    background: var(--color1);
    padding: 2vh 0;
    text-align: center;
    border-bottom: 5px solid #ABCFAE;
    /*box-shadow: 0 15px 10px 1px;*/
}

header a {
    position: absolute;
    right: 1.5vw;
    top: 1.5vh;
    width: 15vw;
}

header a img {
    width: 100%;
}


@media only screen and (max-width: 412px) {
    /*Need to do more research into other common screen sizes so it won't break*/
    /*ID's*/
    /*classes*/


}