@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}

* {

    /*Color palette*/
    --color1: #7da44d;
    --color2: #3e5e2a;
    --color3: #fff4e3;
    --color4: #9b7354;
    --color5: #945e3c;
    --color6: #737373;
    --color7: #41535d;
}

h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: Lazytype, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

@media only screen and (max-width: 412px) {
    /*Need to do more research into other common screen sizes so it won't break*/
    /*ID's*/
    /*classes*/


}