@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@font-face {
    font-family: Lazytype;
    src: url("../fonts/Lazytype-1jz0Z.ttf");
}

/* ---------------- Vars ---------------- */
:root {
    --color1: #7da44d;
    --color2: #3e5e2a;
    --color3: #fff4e3;
    --color4: #9b7354;
    --color5: #945e3c;
    --color6: #737373;
    --color7: #41535d;

    --header-h: 88px; /* vaste headerhoogte site-breed */
    --gap: 24px;
    --tiles-size: 125%;
}

/* ---------------- Base ---------------- */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: var(--color3);
    background-image: url("../images/tiles.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: var(--tiles-size);
    margin: 0;
    color: black;
}

/* Headings */
h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 1.7rem;
    margin: 1vh;
}

h4 {
    font-family: Lazytype, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
}

/* ---------------- Header (fixed) ---------------- */
/*header {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: var(--header-h);*/
/*    z-index: 1000;*/
/*    background: var(--color1);*/
/*    padding: 0 var(--gap);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center; !* of space-between als je links/rechts items hebt *!*/
/*    text-align: center;*/
/*    border-bottom: 5px solid #ABCFAE;*/
/*    box-shadow: 0 6px 18px rgba(0, 0, 0, .12);*/
/*}*/

header {
    background: var(--color1);
    padding: 2vh 0;
    text-align: center;
    border-bottom: 5px solid #ABCFAE;
    /*box-shadow: 0 15px 10px 1px;*/
}

header a {
    position: absolute;
    right: 1.5vw;
    top: 1.5vh;
    height: 7vh;
}

header a img {
    height: 100%;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* ---------------- Nav (hamburger in header) ---------------- */
nav {
    z-index: 1001;
    position: absolute;
    left: 3vw;
    top: 1.5vh;


}

nav img {
    /*display: block;*/
    height: 6vh; /* hamburger-grootte */
}

/* Slide-out menu onder de header */
#navList {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    padding: 5vh 1vw;
    background: var(--color2);
    text-align: center;
    flex-direction: column;
    gap: 4vh;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
}

.open {
    display: flex;
}

.close {
    display: none;
}

/* ---------------- Page content offset ---------------- */
/*main {*/
/*    padding-top: calc(var(--header-h) + var(--gap));*/
/*    padding-left: 16px;*/
/*    padding-right: 16px;*/
/*}*/

/* ---------------- Responsive ---------------- */
/*@media (max-width: 900px) {*/
/*    #navList {*/
/*        width: 60vw;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    nav img {*/
/*        width: 56px;*/
/*    }*/

/*    header > img,*/
/*    header > svg,*/
/*    header > picture {*/
/*        height: 56px;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    header {*/
/*        gap: 8px;*/
/*    }*/

/*    nav img {*/
/*        width: 48px;*/
/*    }*/

/*    header > img,*/
/*    header > svg,*/
/*    header > picture {*/
/*        height: 48px;*/
/*    }*/
/*}*/

/* --------- Verwijderd/voorkomen (conflicterend uit oude style.css) ----------
   - GEEN tweede 'header { ... }' blok met andere padding/positionering
   - GEEN 'header a { position:absolute; right:... }' (veroorzaakte overlap)
   - GEEN 'nav { position:absolute; top:20px; }' (verschoof uit de header)
--------------------------------------------------------------------------- */
